apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobile-web
  namespace: gavigo
  labels:
    app: mobile-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mobile-web
  template:
    metadata:
      labels:
        app: mobile-web
    spec:
      containers:
        - name: mobile-web
          image: registry.digitalocean.com/gavigo-registry/mobile-web:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "50m"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
